# **Introduction**

## **Loan Application Data Cleaning Project**

This project focuses on cleaning and preprocessing a loan application dataset to ensure data quality and usability for further analysis or modeling. The dataset includes records of loan applicants with features such as demographic details, financial information, and loan-related parameters. It also captures the status of the loan application, such as whether the loan was approved or rejected. 

Data cleaning and preprocessing are critical steps to ensure the dataset is free from inconsistencies, missing values, and irrelevant information. This project addresses the following key tasks:

---

## **Objectives**
1. **Handle Missing Values**:
   - Identify missing values in both categorical and numerical columns.
   - Impute missing values with appropriate strategies, such as replacing with zeros, mean values, or "Unknown".
   
2. **Data Type Conversion**:
   - Convert date columns (`DOB`, `Lead_Creation_Date`) to `datetime` format.
   - Ensure numerical columns such as `Loan_Amount`, `EMI`, and `Interest_Rate` are treated as numeric.

3. **Remove Duplicates**:
   - Detect and drop duplicate rows to avoid redundant information in the dataset.

4. **Standardize Data**:
   - Replace empty strings and undefined values with consistent placeholders like `NaN` or "Unknown".
   - Format all categorical and numerical columns appropriately for analysis.

5. **Save Cleaned Dataset**:
   - Save the cleaned dataset to a new CSV file for subsequent use in analysis or modeling.

---

## **Dataset Overview**
- **Number of Entries**: 69,713
- **Number of Columns**: 22
- **Key Features**:
  - **Demographic Information**: `Gender`, `DOB`, `City_Code`, `City_Category`
  - **Financial Information**: `Monthly_Income`, `Existing_EMI`, `Loan_Amount`, `Interest_Rate`, `EMI`
  - **Application Status**: `Approved`
  - **Additional Metadata**: `Lead_Creation_Date`, `Employer_Code`, `Source`

---

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r"C:\Users\Zana\Desktop\portfolio_projects\project_10\train.csv", encoding='windows-1252')
df.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
0,APPC90493171225,Female,23/07/79,15/07/16,C10001,A,COM0044082,A,4.0,2000.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,0,0
1,APPD40611263344,Male,07/12/86,04/07/16,C10003,A,COM0000002,C,1.0,3500.0,...,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
2,APPE70289249423,Male,10/12/82,19/07/16,C10125,C,COM0005267,C,4.0,2250.0,...,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0,0
3,APPF80273865537,Male,30/01/89,09/07/16,C10477,C,COM0004143,A,4.0,3500.0,...,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7,0
4,APPG60994436641,Male,19/04/85,20/07/16,C10002,A,COM0001781,A,4.0,10000.0,...,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10,0

In [4]:
# Overview of the dataframe
df.info()

# First few rows of the data
df.head()

# Checking for missing values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: float64(7), int64(2), object(13)
memory usage: 11.7+ MB

ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
City_Category                            814
Employer_Code                           4018
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source                                     0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Interest_Rate                          47437
EMI                                    47437
Var1                                       0
Approved                                   0
dtype: int64

In [5]:
# Convert 'DOB' and 'Lead_Creation_Date' to datetime
df['DOB'] = pd.to_datetime(df['DOB'], format='%d/%m/%y', errors='coerce')
df['Lead_Creation_Date'] = pd.to_datetime(df['Lead_Creation_Date'], format='%d/%m/%y', errors='coerce')

# Inspect the first few rows to ensure the conversion worked
print(df[['DOB', 'Lead_Creation_Date']].head())

         DOB Lead_Creation_Date
0 1979-07-23         2016-07-15
1 1986-12-07         2016-07-04
2 1982-12-10         2016-07-19
3 1989-01-30         2016-07-09
4 1985-04-19         2016-07-20

In [6]:
# Remove duplicate rows (if any) based on all columns
df.drop_duplicates(inplace=True)

# Alternatively, if you want to drop duplicates based on a specific column like 'ID'
# df.drop_duplicates(subset=['ID'], inplace=True)

# Confirm that duplicates are removed by checking the shape
print(f"DataFrame shape after removing duplicates: {df.shape}")

DataFrame shape after removing duplicates: (69713, 22)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  datetime64[ns]
 3   Lead_Creation_Date                   69713 non-null  datetime64[ns]
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(2), object(11)
memory usage: 11.7+ MB

In [9]:
# Save the cleaned DataFrame to a CSV file
df.to_csv(r"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData.csv", index=False)

In [11]:
df.columns

Index(['ID', 'Gender', 'DOB', 'Lead_Creation_Date', 'City_Code',
       'City_Category', 'Employer_Code', 'Employer_Category1',
       'Employer_Category2', 'Monthly_Income',
       'Customer_Existing_Primary_Bank_Code', 'Primary_Bank_Type', 'Contacted',
       'Source', 'Source_Category', 'Existing_EMI', 'Loan_Amount',
       'Loan_Period', 'Interest_Rate', 'EMI', 'Var1', 'Approved'],
      dtype='object')

In [12]:
import pandas as pd

# Load the cleaned CSV into a DataFrame
df = pd.read_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData.csv')

# Display the first few rows to check the data
df.head()

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
0,APPC90493171225,Female,1979-07-23,2016-07-15,C10001,A,COM0044082,A,4.0,2000.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,0,0
1,APPD40611263344,Male,1986-12-07,2016-07-04,C10003,A,COM0000002,C,1.0,3500.0,...,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
2,APPE70289249423,Male,1982-12-10,2016-07-19,C10125,C,COM0005267,C,4.0,2250.0,...,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0,0
3,APPF80273865537,Male,1989-01-30,2016-07-09,C10477,C,COM0004143,A,4.0,3500.0,...,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7,0
4,APPG60994436641,Male,1985-04-19,2016-07-20,C10002,A,COM0001781,A,4.0,10000.0,...,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10,0

In [13]:
# Check for non-numeric values and missing data in 'Loan_Amount'
print(df['Loan_Amount'].unique())

[    nan  20000.  45000.  92000.  50000. 130000.  30000.  66000. 104000.
  74000.  26000. 100000.  98000.  40000.  69000.  36000. 180000.  61000.
  60000.  56000.   5000.  44000.  10000.  94000.  11000.  29000.  24000.
  35000.  37000.  54000.  59000.  32000.  64000.  95000.  38000. 240000.
 116000.  25000.  28000.  41000.  17000.  15000.  70000.  49000.  51000.
  33000.  63000.  68000. 112000.  47000.  88000.  43000. 150000.  62000.
  34000.  39000.  42000.  72000.  82000.  22000. 107000.  52000.  85000.
  31000.   8000.  79000.  57000.  65000. 120000.  12000.  84000. 230000.
 108000.  77000. 101000. 110000.  14000.  21000.  99000.  80000.  53000.
  96000.  27000.  23000.  13000. 181000.  19000.  46000. 200000.  73000.
 126000.  48000.  55000.  81000. 137000.  93000.  18000.   7000.  91000.
  58000.  71000. 119000. 139000.  90000.   6000. 250000. 117000. 105000.
  75000. 118000. 158000.  97000. 153000.  16000.  87000. 237000.  67000.
  89000. 160000.  86000. 102000. 114000. 163000.  83000. 208000. 144000.
  78000. 121000. 132000.  76000. 109000.   9000. 198000. 162000. 133000.
 172000. 145000. 188000. 143000. 111000. 199000. 125000. 124000. 167000.
 147000. 113000. 115000. 103000. 127000. 128000. 142000. 106000. 140000.
 146000. 186000. 164000. 131000. 189000. 241000. 173000. 135000. 174000.
 149000. 157000. 177000. 136000. 122000. 193000. 148000. 247000. 229000.
 214000. 166000. 170000. 197000. 159000. 227000. 141000. 138000. 155000.
 175000. 300000. 257000. 225000. 161000. 203000. 191000. 234000. 169000.
 123000. 246000. 264000. 134000. 248000. 152000. 185000. 210000.]

In [14]:
# Replace NaN values in Loan_Amount with 0
df['Loan_Amount'].fillna(0, inplace=True)

C:\Users\Zana\AppData\Local\Temp\ipykernel_15796\1423643972.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Loan_Amount'].fillna(0, inplace=True)

In [15]:
# Fill NaN values in 'Loan_Amount' and assign back to the column explicitly
df['Loan_Amount'] = df['Loan_Amount'].fillna(0)

In [16]:
df.to_csv(r"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData.csv", index=False)

In [17]:
# Check the unique values in the 'Loan_Period' column
print(df['Loan_Period'].unique())

[nan  2.  4.  5.  3.  1.  6.]

In [18]:
# Replace NaN values in 'Loan_Period' with 0
df['Loan_Period'] = df['Loan_Period'].fillna(0)

In [19]:
df.to_csv(r"C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData.csv", index=False)

In [20]:
# Loop through all columns and display unique values
for col in df.columns:
    print(f"Unique values in {col}:")
    print(df[col].unique())
    print("\n")

Unique values in ID:
['APPC90493171225' 'APPD40611263344' 'APPE70289249423' ...
 'APPW50697209842' 'APPY50870035036' 'APPZ60733046119']


Unique values in Gender:
['Female' 'Male']


Unique values in DOB:
['1979-07-23' '1986-12-07' '1982-12-10' ... '1969-04-19' '1971-01-27'
 '1978-06-27']


Unique values in Lead_Creation_Date:
['2016-07-15' '2016-07-04' '2016-07-19' '2016-07-09' '2016-07-20'
 '2016-07-01' '2016-07-02' '2016-07-03' '2016-07-08' '2016-07-12'
 '2016-07-07' '2016-07-05' '2016-07-10' '2016-07-06' '2016-07-11'
 '2016-07-26' '2016-07-13' '2016-07-17' '2016-07-21' '2016-07-18'
 '2016-07-24' '2016-07-14' '2016-07-16' '2016-07-27' '2016-07-25'
 '2016-07-23' '2016-07-22' '2016-07-30' '2016-07-28' '2016-07-29'
 '2016-07-31' '2016-08-01' '2016-08-27' '2016-08-02' '2016-08-11'
 '2016-08-06' '2016-08-03' '2016-08-07' '2016-08-04' '2016-08-10'
 '2016-08-19' '2016-08-05' '2016-08-14' '2016-08-15' '2016-08-09'
 '2016-08-23' '2016-08-08' '2016-08-13' '2016-08-12' '2016-08-22'
 '2016-08-18' '2016-08-16' '2016-08-17' '2016-08-24' '2016-08-25'
 '2016-08-20' '2016-08-29' '2016-08-21' '2016-08-30' '2016-08-26'
 '2016-08-28' '2016-08-31' '2016-09-02' '2016-09-06' '2016-09-01'
 '2016-09-15' '2016-09-03' '2016-09-16' '2016-09-05' '2016-09-09'
 '2016-09-20' '2016-09-04' '2016-09-11' '2016-09-13' '2016-09-14'
 '2016-09-10' '2016-09-07' '2016-09-29' '2016-09-19' '2016-09-08'
 '2016-09-21' '2016-09-12' '2016-09-18' '2016-09-27' '2016-09-24'
 '2016-09-17' '2016-09-25' '2016-09-26' '2016-09-28' '2016-09-22'
 '2016-09-23' '2016-09-30']


Unique values in City_Code:
['C10001' 'C10003' 'C10125' 'C10477' 'C10002' 'C10402' 'C10022' 'C10014'
 'C10030' 'C10032' 'C10019' 'C10006' 'C10016' 'C10004' 'C10051' 'C10024'
 'C10005' 'C10097' 'C10007' 'C10712' 'C10015' 'C10023' 'C10027' 'C10013'
 'C10020' 'C10036' 'C10008' 'C10031' 'C10210' 'C10121' 'C10162' 'C10017'
 'C10010' 'C10028' 'C10011' 'C10009' 'C10169' 'C10069' 'C10283' 'C10492'
 'C10519' 'C10376' 'C10018' 'C10140' 'C10260' 'C10251' 'C10434' 'C10148'
 'C10039' 'C10021' 'C10221' 'C10268' 'C10167' 'C10112' 'C10103' 'C10091'
 'C10094' 'C10060' 'C10033' 'C10130' 'C10040' 'C10263' 'C10072' 'C10054'
 'C10064' 'C10093' 'C10042' 'C10314' 'C10487' 'C10449' 'C10025' 'C10107'
 'C10573' 'C10110' 'C10645' 'C10063' 'C10066' 'C10203' 'C10074' 'C10034'
 'C10255' 'C10084' 'C10012' 'C10611' 'C10333' 'C10073' 'C10340' 'C10044'
 'C10229' 'C10109' 'C10293' 'C10050' 'C10075' 'C10420' 'C10026' 'C10177'
 'C10176' 'C10149' 'C10132' 'C10254' 'C10286' 'C10172' 'C10045' 'C10258'
 'C10158' 'C10486' 'C10081' 'C10029' 'C10043' 'C10274' 'C10357' 'C10059'
 'C10035' 'C10159' 'C10168' 'C10326' 'C10424' 'C10105' 'C10401' 'C10133'
 'C10523' 'C10280' 'C10170' 'C10252' 'C10134' 'C10046' 'C10124' 'C10038'
 'C10327' 'C10083' 'C10243' 'C10142' 'C10175' 'C10115' 'C10331' 'C10129'
 'C10256' 'C10364' 'C10048' 'C10195' 'C10062' 'C10151' 'C10413' 'C10147'
 'C10215' 'C10078' 'C10095' 'C10223' 'C10058' 'C10419' 'C10447' 'C10199'
 'C10213' 'C10092' 'C10309' 'C10067' 'C10334' 'C10301' 'C10516' 'C10242'
 'C10513' 'C10551' 'C10511' 'C10372' 'C10090' 'C10365' 'C10099' 'C10127'
 'C10217' 'C10386' 'C10065' 'C10087' 'C10108' 'C10071' 'C10462' 'C10068'
 'C10232' 'C10276' 'C10491' 'C10662' 'C10231' 'C10128' 'C10506' 'C10061'
 'C10041' 'C10154' 'C10186' 'C10204' 'C10479' 'C10637' 'C10183' 'C10182'
 'C10118' 'C10329' 'C10230' 'C10237' 'C10070' 'C10480' 'C10131' 'C10179'
 'C10410' 'C10241' 'C10476' 'C10302' 'C10171' 'C10049' 'C10336' 'C10085'
 'C10363' 'C10056' 'C10325' 'C10370' 'C10157' 'C10194' 'C10207' 'C10304'
 'C10347' 'C10052' 'C10214' 'C10189' 'C10305' 'C10053' 'C10150' 'C10470'
 'C10098' 'C10088' 'C10119' 'C10642' 'C10192' 'C10699' 'C10089' 'C10077'
 'C10406' 'C10576' 'C10152' 'C10408' 'C10178' 'C10037' 'C10236' 'C10248'
 'C10047' 'C10086' 'C10198' 'C10416' 'C10345' 'C10655' 'C10102' 'C10114'
 'C10509' 'C10174' 'C10313' 'C10297' 'C10267' 'C10100' 'C10374' 'C10253'
 'C10190' 'C10448' 'C10106' 'C10561' 'C10501' 'C10552' 'C10144' 'C10259'
 'C10163' 'C10530' 'C10208' 'C10055' 'C10057' 'C10238' 'C10188' 'C10375'
 'C10278' 'C10136' 'C10560' 'C10184' 'C10116' 'C10197' 'C10675' 'C10173'
 'C10310' 'C10146' 'C10122' 'C10126' 'C10219' 'C10271' 'C10145' 'C10216'
 'C10269' 'C10218' 'C10520' 'C10201' 'C10120' 'C10185' 'C10337' 'C10160'
 'C10291' 'C10257' 'C10079' 'C10080' 'C10391' 'C10153' 'C10096' 'C10135'
 'C10249' 'C10672' 'C10082' 'C10589' 'C10290' 'C10076' 'C10138' 'C10436'
 'C10239' 'C10586' 'C10191' 'C10348' 'C10415' 'C10111' 'C10247' 'C10367'
 'C10206' 'C10582' 'C10330' 'C10235' 'C10220' 'C10264' 'C10453' 'C10104'
 'C10467' 'C10460' 'C10209' 'C10377' 'C10605' 'C10366' 'C10299' 'C10499'
 'C10494' 'C10141' 'C10461' 'C10187' 'C10430' 'C10522' 'C10373' 'C10497'
 'C10566' 'C10508' 'C10205' 'C10500' 'C10155' 'C10113' 'C10165' 'C10200'
 'C10540' 'C10437' 'C10438' 'C10608' 'C10240' 'C10346' 'C10156' 'C10193'
 'C10445' 'C10644' 'C10245' 'C10399' 'C10117' 'C10137' 'C10369' 'C10161'
 'C10388' 'C10164' 'C10292' 'C10320' 'C10181' 'C10355' 'C10143' 'C10341'
 'C10353' 'C10403' 'C10587' 'C10288' 'C10464' 'C10720' 'C10261' 'C10615'
 'C10394' 'C10244' 'C10404' 'C10504' 'C10383' 'C10359' 'C10289' 'C10282'
 'C10677' 'C10425' 'C10490' 'C10295' 'C10351' 'C10392' 'C10427' 'C10459'
 'C10426' 'C10180' 'C10393' 'C10308' 'C10518' 'C10471' 'C10395' 'C10640'
 'C10321' 'C10318' 'C10695' 'C10287' 'C10212' 'C10270' 'C10618' 'C10123'
 'C10226' 'C10503' 'C10653' 'C10224' 'C10281' 'C10433' 'C10273' 'C10139'
 'C10601' 'C10380' 'C10338' 'C10481' 'C10524' 'C10352' 'C10306' 'C10451'
 'C10378' 'C10536' 'C10389' 'C10284' 'C10660' 'C10547' 'C10233' 'C10272'
 'C10344' 'C10300' 'C10211' 'C10444' 'C10502' 'C10362' 'C10468' 'C10312'
 'C10315' 'C10246' 'C10339' 'C10368' 'C10397' 'C10620' 'C10319' 'C10629'
 nan 'C10294' 'C10473' 'C10349' 'C10454' 'C10535' 'C10622' 'C10572'
 'C10228' 'C10488' 'C10603' 'C10579' 'C10548' 'C10544' 'C10356' 'C10439'
 'C10627' 'C10521' 'C10332' 'C10303' 'C10285' 'C10222' 'C10443' 'C10604'
 'C10317' 'C10541' 'C10442' 'C10360' 'C10166' 'C10527' 'C10478' 'C10651'
 'C10472' 'C10350' 'C10616' 'C10598' 'C10266' 'C10557' 'C10227' 'C10546'
 'C10578' 'C10577' 'C10452' 'C10498' 'C10619' 'C10532' 'C10322' 'C10569'
 'C10517' 'C10634' 'C10407' 'C10715' 'C10101' 'C10335' 'C10525' 'C10681'
 'C10428' 'C10643' 'C10421' 'C10455' 'C10298' 'C10647' 'C10528' 'C10466'
 'C10405' 'C10456' 'C10610' 'C10474' 'C10409' 'C10396' 'C10594' 'C10382'
 'C10537' 'C10225' 'C10609' 'C10441' 'C10463' 'C10316' 'C10684' 'C10279'
 'C10668' 'C10581' 'C10457' 'C10624' 'C10440' 'C10512' 'C10431' 'C10250'
 'C10400' 'C10458' 'C10562' 'C10613' 'C10621' 'C10371' 'C10411' 'C10505'
 'C10323' 'C10275' 'C10414' 'C10343' 'C10277' 'C10342' 'C10262' 'C10545'
 'C10515' 'C10202' 'C10384' 'C10607' 'C10533' 'C10324' 'C10664' 'C10422'
 'C10381' 'C10570' 'C10475' 'C10708' 'C10700' 'C10387' 'C10484' 'C10565'
 'C10432' 'C10575' 'C10659' 'C10398' 'C10423' 'C10469' 'C10354' 'C10418'
 'C10379' 'C10234' 'C10296' 'C10196' 'C10265' 'C10558' 'C10722' 'C10429'
 'C10385' 'C10307' 'C10361' 'C10588' 'C10510' 'C10665' 'C10311' 'C10564'
 'C10495' 'C10690' 'C10606' 'C10633' 'C10417' 'C10446' 'C10571' 'C10648'
 'C10714' 'C10465' 'C10483' 'C10450' 'C10585' 'C10328' 'C10489' 'C10358'
 'C10514' 'C10559' 'C10631' 'C10507' 'C10654' 'C10493' 'C10674' 'C10635'
 'C10412' 'C10482' 'C10496' 'C10534' 'C10539' 'C10599' 'C10617' 'C10602'
 'C10646' 'C10663' 'C10543' 'C10390' 'C10555' 'C10628' 'C10597' 'C10689'
 'C10580' 'C10709' 'C10531' 'C10595' 'C10661' 'C10529' 'C10554' 'C10600'
 'C10667' 'C10638' 'C10702' 'C10593' 'C10680' 'C10641' 'C10713' 'C10526'
 'C10591' 'C10553' 'C10574' 'C10592' 'C10682' 'C10550' 'C10583' 'C10542'
 'C10485' 'C10650' 'C10658' 'C10435' 'C10596' 'C10692' 'C10563' 'C10612'
 'C10717' 'C10626' 'C10693' 'C10673' 'C10685' 'C10676' 'C10686']


Unique values in City_Category:
['A' 'C' 'B' nan]


Unique values in Employer_Code:
['COM0044082' 'COM0000002' 'COM0005267' ... 'COM0030433' 'COM0011185'
 'COM0045789']


Unique values in Employer_Category1:
['A' 'C' 'B' nan]


Unique values in Employer_Category2:
[ 4.  1.  3.  2. nan]


Unique values in Monthly_Income:
[2000.  3500.  2250.  ... 5152.4 7190.1 9893. ]


Unique values in Customer_Existing_Primary_Bank_Code:
['B001' 'B002' 'B003' 'B014' 'B006' 'B017' nan 'B004' 'B023' 'B011' 'B022'
 'B009' 'B021' 'B016' 'B033' 'B043' 'B005' 'B028' 'B008' 'B047' 'B024'
 'B032' 'B010' 'B020' 'B031' 'B025' 'B018' 'B007' 'B012' 'B039' 'B015'
 'B026' 'B030' 'B037' 'B045' 'B041' 'B013' 'B044' 'B019' 'B036' 'B042'
 'B027' 'B038' 'B034' 'B035' 'B040' 'B029' 'B046' 'B055' 'B049' 'B048'
 'B050' 'B051' 'B056' 'B053' 'B054' 'B052' 'B057']


Unique values in Primary_Bank_Type:
['P' 'G' nan]


Unique values in Contacted:
['N' 'Y']


Unique values in Source:
['S122' 'S143' 'S134' 'S133' 'S159' 'S137' 'S127' 'S144' 'S123' 'S156'
 'S151' 'S153' 'S124' 'S161' 'S139' 'S154' 'S157' 'S162' 'S141' 'S158'
 'S129' 'S136' 'S130' 'S138' 'S155' 'S150' 'S160' 'S135' 'S140']


Unique values in Source_Category:
['G' 'B' 'C' 'E' 'F' 'D' 'A']


Unique values in Existing_EMI:
[   0.  2500.   460.  ...  754.7 1854.9 2364.8]


Unique values in Loan_Amount:
[     0.  20000.  45000.  92000.  50000. 130000.  30000.  66000. 104000.
  74000.  26000. 100000.  98000.  40000.  69000.  36000. 180000.  61000.
  60000.  56000.   5000.  44000.  10000.  94000.  11000.  29000.  24000.
  35000.  37000.  54000.  59000.  32000.  64000.  95000.  38000. 240000.
 116000.  25000.  28000.  41000.  17000.  15000.  70000.  49000.  51000.
  33000.  63000.  68000. 112000.  47000.  88000.  43000. 150000.  62000.
  34000.  39000.  42000.  72000.  82000.  22000. 107000.  52000.  85000.
  31000.   8000.  79000.  57000.  65000. 120000.  12000.  84000. 230000.
 108000.  77000. 101000. 110000.  14000.  21000.  99000.  80000.  53000.
  96000.  27000.  23000.  13000. 181000.  19000.  46000. 200000.  73000.
 126000.  48000.  55000.  81000. 137000.  93000.  18000.   7000.  91000.
  58000.  71000. 119000. 139000.  90000.   6000. 250000. 117000. 105000.
  75000. 118000. 158000.  97000. 153000.  16000.  87000. 237000.  67000.
  89000. 160000.  86000. 102000. 114000. 163000.  83000. 208000. 144000.
  78000. 121000. 132000.  76000. 109000.   9000. 198000. 162000. 133000.
 172000. 145000. 188000. 143000. 111000. 199000. 125000. 124000. 167000.
 147000. 113000. 115000. 103000. 127000. 128000. 142000. 106000. 140000.
 146000. 186000. 164000. 131000. 189000. 241000. 173000. 135000. 174000.
 149000. 157000. 177000. 136000. 122000. 193000. 148000. 247000. 229000.
 214000. 166000. 170000. 197000. 159000. 227000. 141000. 138000. 155000.
 175000. 300000. 257000. 225000. 161000. 203000. 191000. 234000. 169000.
 123000. 246000. 264000. 134000. 248000. 152000. 185000. 210000.]


Unique values in Loan_Period:
[0. 2. 4. 5. 3. 1. 6.]


Unique values in Interest_Rate:
[  nan 13.25 14.85 18.25 20.   18.   15.5  19.   13.99 31.   16.75 14.75
 24.   18.5  32.5  13.75 13.5  16.5  15.75 23.5  13.49 15.   14.   13.
 19.75 14.99 15.99 16.   17.5  17.   16.25 21.5  12.99 14.5  25.5  15.35
 14.25 14.8  17.75 27.5  29.5  28.5  15.49 14.3  14.49 26.5  23.   19.05
 22.   18.4  16.35 27.   15.6  15.25 14.55 15.8  15.1  31.5  35.5  37.
 33.   15.7  29.   28.   24.5  30.5  18.15 16.2  11.99 16.15 15.15 14.9
 20.5 ]


Unique values in EMI:
[  nan  953. 3082. ... 4026. 4615. 2081.]


Unique values in Var1:
[ 0 10  7  4  2]


Unique values in Approved:
[0 1]

In [21]:
# Handle missing values in categorical columns
categorical_cols = ['City_Category', 'Employer_Category1', 'Employer_Category2', 'Primary_Bank_Type']
df[categorical_cols] = df[categorical_cols].fillna('Unknown')

In [23]:
# Option 1: Fill NaN with 0
numeric_cols = ['Monthly_Income', 'Existing_EMI', 'Loan_Amount', 'Loan_Period', 'Interest_Rate', 'EMI']
df[numeric_cols] = df[numeric_cols].fillna(0)

In [24]:
# Convert numeric columns to numeric type (in case any columns are still treated as objects)
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [25]:
# Save the cleaned DataFrame to CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

In [26]:
# Check unique values in the 'Interest_Rate' column
print(df['Interest_Rate'].unique())

[ 0.   13.25 14.85 18.25 20.   18.   15.5  19.   13.99 31.   16.75 14.75
 24.   18.5  32.5  13.75 13.5  16.5  15.75 23.5  13.49 15.   14.   13.
 19.75 14.99 15.99 16.   17.5  17.   16.25 21.5  12.99 14.5  25.5  15.35
 14.25 14.8  17.75 27.5  29.5  28.5  15.49 14.3  14.49 26.5  23.   19.05
 22.   18.4  16.35 27.   15.6  15.25 14.55 15.8  15.1  31.5  35.5  37.
 33.   15.7  29.   28.   24.5  30.5  18.15 16.2  11.99 16.15 15.15 14.9
 20.5 ]

In [28]:
# Replace empty strings with NaN and directly assign back to the column
df['Interest_Rate'] = df['Interest_Rate'].replace('', pd.NA)

In [29]:
# Convert to numeric, coercing any invalid values to NaN
df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')

In [30]:
# Save the cleaned DataFrame to a new CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

In [31]:
# Check unique values in the 'Interest_Rate' column
print(df['Interest_Rate'].unique())

[ 0.   13.25 14.85 18.25 20.   18.   15.5  19.   13.99 31.   16.75 14.75
 24.   18.5  32.5  13.75 13.5  16.5  15.75 23.5  13.49 15.   14.   13.
 19.75 14.99 15.99 16.   17.5  17.   16.25 21.5  12.99 14.5  25.5  15.35
 14.25 14.8  17.75 27.5  29.5  28.5  15.49 14.3  14.49 26.5  23.   19.05
 22.   18.4  16.35 27.   15.6  15.25 14.55 15.8  15.1  31.5  35.5  37.
 33.   15.7  29.   28.   24.5  30.5  18.15 16.2  11.99 16.15 15.15 14.9
 20.5 ]

In [32]:
# Check for any rows with empty strings in the Interest_Rate column
empty_interest_rate_rows = df[df['Interest_Rate'] == '']
print(empty_interest_rate_rows)

# Check for any rows with NaN values in the Interest_Rate column
nan_interest_rate_rows = df[df['Interest_Rate'].isna()]
print(nan_interest_rate_rows)

Empty DataFrame
Columns: [ID, Gender, DOB, Lead_Creation_Date, City_Code, City_Category, Employer_Code, Employer_Category1, Employer_Category2, Monthly_Income, Customer_Existing_Primary_Bank_Code, Primary_Bank_Type, Contacted, Source, Source_Category, Existing_EMI, Loan_Amount, Loan_Period, Interest_Rate, EMI, Var1, Approved]
Index: []

[0 rows x 22 columns]
Empty DataFrame
Columns: [ID, Gender, DOB, Lead_Creation_Date, City_Code, City_Category, Employer_Code, Employer_Category1, Employer_Category2, Monthly_Income, Customer_Existing_Primary_Bank_Code, Primary_Bank_Type, Contacted, Source, Source_Category, Existing_EMI, Loan_Amount, Loan_Period, Interest_Rate, EMI, Var1, Approved]
Index: []

[0 rows x 22 columns]

In [33]:
# Check data types of the DataFrame
print(df.dtypes)

ID                                      object
Gender                                  object
DOB                                     object
Lead_Creation_Date                      object
City_Code                               object
City_Category                           object
Employer_Code                           object
Employer_Category1                      object
Employer_Category2                      object
Monthly_Income                         float64
Customer_Existing_Primary_Bank_Code     object
Primary_Bank_Type                       object
Contacted                               object
Source                                  object
Source_Category                         object
Existing_EMI                           float64
Loan_Amount                            float64
Loan_Period                            float64
Interest_Rate                          float64
EMI                                    float64
Var1                                     int64
Approved                                 int64
dtype: object

In [35]:
import pandas as pd

# Load the CSV to check the content
df = pd.read_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData.csv')

# Check for any empty strings in the Interest_Rate column
empty_interest_rate = df[df['Interest_Rate'] == '']
print(empty_interest_rate)

# Also, check for NaN values
nan_interest_rate = df[df['Interest_Rate'].isna()]
print(nan_interest_rate)

Empty DataFrame
Columns: [ID, Gender, DOB, Lead_Creation_Date, City_Code, City_Category, Employer_Code, Employer_Category1, Employer_Category2, Monthly_Income, Customer_Existing_Primary_Bank_Code, Primary_Bank_Type, Contacted, Source, Source_Category, Existing_EMI, Loan_Amount, Loan_Period, Interest_Rate, EMI, Var1, Approved]
Index: []

[0 rows x 22 columns]
                    ID  Gender         DOB Lead_Creation_Date City_Code  \
0      APPC90493171225  Female  1979-07-23         2016-07-15    C10001
2      APPE70289249423    Male  1982-12-10         2016-07-19    C10125
3      APPF80273865537    Male  1989-01-30         2016-07-09    C10477
4      APPG60994436641    Male  1985-04-19         2016-07-20    C10002
5      APPI90914237819  Female  1988-12-23         2016-07-01    C10402
...                ...     ...         ...                ...       ...
69705  APPR50947529333    Male  1991-08-01         2016-09-30    C10002
69707  APPT50870248519    Male  1991-03-03         2016-09-30    C10041
69708  APPU90955789628  Female  1983-07-31         2016-09-30    C10006
69709  APPV80989824738  Female  1971-01-27         2016-09-30    C10116
69711  APPY50870035036    Male  1978-06-27         2016-09-30    C10002

      City_Category Employer_Code Employer_Category1  Employer_Category2  \
0                 A    COM0044082                  A                 4.0
2                 C    COM0005267                  C                 4.0
3                 C    COM0004143                  A                 4.0
4                 A    COM0001781                  A                 4.0
5                 C    COM0007740                  A                 4.0
...             ...           ...                ...                 ...
69705             A    COM0000169                  A                 4.0
69707             C    COM0000009                  A                 1.0
69708             A    COM0000010                  A                 1.0
69709             C    COM0045789                  A                 4.0
69711             A    COM0000098                  C                 3.0

       Monthly_Income  ... Contacted Source Source_Category Existing_EMI  \
0              2000.0  ...         N   S122               G          0.0
2              2250.0  ...         Y   S143               B          0.0
3              3500.0  ...         Y   S143               B          0.0
4             10000.0  ...         Y   S134               B       2500.0
5              7000.0  ...         N   S133               B          0.0
...               ...  ...       ...    ...             ...          ...
69705          1500.0  ...         Y   S122               G          0.0
69707          2400.0  ...         Y   S122               G          0.0
69708          4900.0  ...         N   S122               G          0.0
69709          7190.1  ...         N   S122               G       1450.0
69711          9893.0  ...         Y   S122               G       1366.0

      Loan_Amount  Loan_Period  Interest_Rate  EMI  Var1  Approved
0             0.0          0.0            NaN  NaN     0         0
2         45000.0          4.0            NaN  NaN     0         0
3         92000.0          5.0            NaN  NaN     7         0
4         50000.0          2.0            NaN  NaN    10         0
5             0.0          0.0            NaN  NaN     0         0
...           ...          ...            ...  ...   ...       ...
69705     24000.0          4.0            NaN  NaN     2         0
69707     30000.0          3.0            NaN  NaN     2         0
69708         0.0          0.0            NaN  NaN    10         0
69709         0.0          0.0            NaN  NaN     7         0
69711     80000.0          5.0            NaN  NaN    10         0

[47437 rows x 22 columns]

In [37]:
# Fill NaN values in Interest_Rate with 0 and assign back to the column
df['Interest_Rate'] = df['Interest_Rate'].fillna(0)

In [38]:
# Save the cleaned DataFrame to a new CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

In [39]:
# Check for missing values in each column
missing_values = df.isnull().sum()
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
City_Category                            814
Employer_Code                           4018
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source                                     0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                                0
Loan_Period                                0
Interest_Rate                              0
EMI                                    47437
Var1                                       0
Approved                                   0
dtype: int64

In [40]:
# Fill missing values in numeric columns with 0
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numeric_cols] = df[numeric_cols].fillna(0)  # Replace NaN with 0

In [42]:
# For categorical columns, replace NaN with 'Unknown'
categorical_cols = df.select_dtypes(include=['object']).columns
for col in categorical_cols:
    df[col] = df[col].fillna('Unknown')  # Fill NaN with 'Unknown'

In [43]:
# Check for any remaining NaN values
print("\nRemaining NaN values in DataFrame after cleaning:")
print(df.isna().sum())

Remaining NaN values in DataFrame after cleaning:
ID                                     0
Gender                                 0
DOB                                    0
Lead_Creation_Date                     0
City_Code                              0
City_Category                          0
Employer_Code                          0
Employer_Category1                     0
Employer_Category2                     0
Monthly_Income                         0
Customer_Existing_Primary_Bank_Code    0
Primary_Bank_Type                      0
Contacted                              0
Source                                 0
Source_Category                        0
Existing_EMI                           0
Loan_Amount                            0
Loan_Period                            0
Interest_Rate                          0
EMI                                    0
Var1                                   0
Approved                               0
dtype: int64

In [44]:
# Save the cleaned DataFrame to a new CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

print("Cleaned DataFrame saved to CSV.")

Cleaned DataFrame saved to CSV.

In [45]:
# Read a few lines from the CSV to check for hidden issues
with open(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', 'r') as file:
    for i in range(10):  # Read the first 10 lines
        print(file.readline().strip())

ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,Customer_Existing_Primary_Bank_Code,Primary_Bank_Type,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
APPC90493171225,Female,1979-07-23,2016-07-15,C10001,A,COM0044082,A,4.0,2000.0,B001,P,N,S122,G,0.0,0.0,0.0,0.0,0.0,0,0
APPD40611263344,Male,1986-12-07,2016-07-04,C10003,A,COM0000002,C,1.0,3500.0,B002,P,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
APPE70289249423,Male,1982-12-10,2016-07-19,C10125,C,COM0005267,C,4.0,2250.0,B003,G,Y,S143,B,0.0,45000.0,4.0,0.0,0.0,0,0
APPF80273865537,Male,1989-01-30,2016-07-09,C10477,C,COM0004143,A,4.0,3500.0,B003,G,Y,S143,B,0.0,92000.0,5.0,0.0,0.0,7,0
APPG60994436641,Male,1985-04-19,2016-07-20,C10002,A,COM0001781,A,4.0,10000.0,B001,P,Y,S134,B,2500.0,50000.0,2.0,0.0,0.0,10,0
APPI90914237819,Female,1988-12-23,2016-07-01,C10402,C,COM0007740,A,4.0,7000.0,B014,P,N,S133,B,0.0,0.0,0.0,0.0,0.0,0,0
APPK80327232033,Male,1973-03-28,2016-07-02,C10022,B,COM0030526,B,4.0,7500.0,B003,G,Y,S122,C,0.0,130000.0,5.0,14.85,3082.0,10,0
APPL20820172146,Female,1990-11-12,2016-07-03,C10003,A,COM0016738,A,4.0,3000.0,B006,P,Y,S133,B,0.0,30000.0,3.0,18.25,1088.0,0,0
APPM30977401211,Male,1977-03-03,2016-07-02,C10003,A,COM0010626,A,4.0,2500.0,B017,G,Y,S133,B,0.0,66000.0,5.0,20.0,1749.0,7,0

In [46]:
# Clean the 'Interest_Rate' column
df['Interest_Rate'] = df['Interest_Rate'].replace('', pd.NA)  # Replace empty strings with NaN
df['Interest_Rate'] = pd.to_numeric(df['Interest_Rate'], errors='coerce')  # Convert to numeric

# Clean the 'EMI' column
df['EMI'] = df['EMI'].replace('', pd.NA)  # Replace empty strings with NaN
df['EMI'] = pd.to_numeric(df['EMI'], errors='coerce')  # Convert to numeric

# Fill NaN values with 0 for both columns
df['Interest_Rate'].fillna(0, inplace=True)
df['EMI'].fillna(0, inplace=True)

# Check the cleaned columns
print("Cleaned 'Interest_Rate' unique values:")
print(df['Interest_Rate'].unique())

print("Cleaned 'EMI' unique values:")
print(df['EMI'].unique())

Cleaned 'Interest_Rate' unique values:
[ 0.   13.25 14.85 18.25 20.   18.   15.5  19.   13.99 31.   16.75 14.75
 24.   18.5  32.5  13.75 13.5  16.5  15.75 23.5  13.49 15.   14.   13.
 19.75 14.99 15.99 16.   17.5  17.   16.25 21.5  12.99 14.5  25.5  15.35
 14.25 14.8  17.75 27.5  29.5  28.5  15.49 14.3  14.49 26.5  23.   19.05
 22.   18.4  16.35 27.   15.6  15.25 14.55 15.8  15.1  31.5  35.5  37.
 33.   15.7  29.   28.   24.5  30.5  18.15 16.2  11.99 16.15 15.15 14.9
 20.5 ]
Cleaned 'EMI' unique values:
[   0.  953. 3082. ... 4026. 4615. 2081.]

C:\Users\Zana\AppData\Local\Temp\ipykernel_15796\2262032997.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Interest_Rate'].fillna(0, inplace=True)
C:\Users\Zana\AppData\Local\Temp\ipykernel_15796\2262032997.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['EMI'].fillna(0, inplace=True)

In [47]:
# Fill NaN values in 'Interest_Rate' with 0 without using inplace=True
df['Interest_Rate'] = df['Interest_Rate'].fillna(0)

# Fill NaN values in 'EMI' with 0 without using inplace=True
df['EMI'] = df['EMI'].fillna(0)

In [48]:
# Save the cleaned DataFrame to a new CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

print("Cleaned DataFrame saved to CSV.")

Cleaned DataFrame saved to CSV.

In [49]:
# Count occurrences of 'Unknown' in the DOB column
unknown_dob_count = (df['DOB'] == 'Unknown').sum()
print(f"Number of 'Unknown' entries in DOB column: {unknown_dob_count}")

Number of 'Unknown' entries in DOB column: 15

In [50]:
# Replace 'Unknown' in DOB with NaT (Not a Time) for date columns
df['DOB'] = df['DOB'].replace('Unknown', pd.NaT)

# Alternatively, you can fill NaT with a specific date or keep them as NaT
# df['DOB'].fillna(pd.to_datetime('1970-01-01'), inplace=True)  # Uncomment if you want to replace NaT with a specific date

In [51]:
# Save the cleaned DataFrame to a new CSV
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

print("Cleaned DataFrame saved to CSV.")

Cleaned DataFrame saved to CSV.

In [52]:
# Count occurrences of empty strings in the DOB column
empty_dob_count = (df['DOB'] == '').sum()
print(f"Number of empty entries in DOB column: {empty_dob_count}")

Number of empty entries in DOB column: 0

In [53]:
# Display the problematic row (row 48109)
print(df.iloc[48108])  # Adjusted for zero-based index

ID                                     APPF70614332332
Gender                                            Male
DOB                                                NaT
Lead_Creation_Date                          2016-09-05
City_Code                                       C10004
City_Category                                        A
Employer_Code                                  Unknown
Employer_Category1                             Unknown
Employer_Category2                                 0.0
Monthly_Income                                     0.0
Customer_Existing_Primary_Bank_Code            Unknown
Primary_Bank_Type                              Unknown
Contacted                                            Y
Source                                            S122
Source_Category                                      G
Existing_EMI                                       0.0
Loan_Amount                                        0.0
Loan_Period                                        0.0
Interest_Rate                                      0.0
EMI                                                0.0
Var1                                                 0
Approved                                             0
Name: 48108, dtype: object

In [55]:
# Replace NaT in DOB with a specific date without using inplace=True
df['DOB'] = df['DOB'].fillna(pd.to_datetime('1970-01-01'))  # Replace NaT with a specific date

In [56]:
# Save the cleaned DataFrame to a new CSV file
df.to_csv(r'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/cleaned_loanData_cleaned.csv', index=False)

print("Cleaned DataFrame saved to CSV.")

Cleaned DataFrame saved to CSV.


## **Output Summary**
### **Data Cleaning Steps**
1. **Handling Missing Values**:
   - Replaced missing values in numeric columns (e.g., `Loan_Amount`, `Interest_Rate`) with `0`.
   - Imputed missing values in categorical columns with "Unknown".
   - Addressed `NaT` (Not a Time) values in the `DOB` column by replacing them with a default date (`1970-01-01`).

2. **Duplicate Removal**:
   - Removed duplicate entries to ensure data integrity. After deduplication, the dataset retained its original size of 69,713 rows, indicating no duplicates were present.

3. **Data Type Conversion**:
   - Converted `DOB` and `Lead_Creation_Date` columns to `datetime` format.
   - Ensured numerical columns like `EMI` and `Interest_Rate` were properly formatted as `float`.

4. **Standardization**:
   - Replaced empty strings in numeric and categorical columns with appropriate values (e.g., `0` for numeric, "Unknown" for categorical).
   - Standardized the `Interest_Rate` and `EMI` columns, ensuring no invalid entries.

5. **Saved Cleaned Dataset**:
   - The cleaned dataset was saved to a new CSV file: `cleaned_loanData_cleaned.csv`.

---

### **Final Dataset Overview**
- **Number of Rows**: 69,713
- **Number of Columns**: 22
- **Missing Values**: No missing values remain after cleaning.
- **Example Records**:
    - `DOB`: Standardized to valid `datetime` format or replaced with `1970-01-01`.
    - `Loan_Amount`: Replaced `NaN` values with `0` for consistency.
    - `Interest_Rate` and `EMI`: Standardized to numerical format, ensuring no empty or invalid entries.